/* Home.module.css -  */

p {
    color: black !important;
}
.numberfloting {
    position: relative ;
    top: -45px ;
    left: -45px;
    color: #071C50 ;
    border: solid 2px #071C50 ;
    width: fit-content ;
    padding: 25px;
    border-radius: 30px;
    background-color: #F3F8FF;
    border: 1px solid rgba(223, 106, 63, 0.51);
}
.statCard {
    background-color: #F3F8FF;
    max-width: 300px;
    max-height: 128;
    img{
        height: 128px;

    }
}
.label {
    position: relative;
    top: -30px;
    left: 20px;
    color: #000;
    opacity: 0.5;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 150px;
}